# 7.3.Pandas_data load and save

    Pandas는 표 형식의 자료를 DataFrame 객체로 읽어오는 몇 가지 기능을 제공하고 있다.
    주로 많이 사용하는 CSV 파일을 읽어들이는 방법에대해서 중점적으로 다루겠다.
    자세항사항은 다큐멘테이션 참조!!
    https://pandas.pydata.org/pandas-docs/stable/


## csv 파일 dataframe 형태로 불러들이기
#### csv : comma-separated values는 몇 가지 필드를 쉼표(,)로 구분한 텍스트 데이터 및 텍스트 파일이다.

In [1]:
from IPython.display import display
import pandas as pd

product = pd.read_csv('product.csv')

display(product.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 3 columns):
a    264 non-null int64
b    264 non-null int64
c    264 non-null int64
dtypes: int64(3)
memory usage: 6.3 KB

None

In [2]:
display(product.head()) #최상위 몇개의 행을 보여줌

   a  b  c
0  3  4  3
1  3  3  2
2  4  4  4
3  2  2  2
4  2  2  2

In [3]:
display(product.tail()) #최하위 몇개의 행을 보여줌

     a  b  c
259  3  4  4
260  3  4  3
261  4  4  4
262  4  4  4
263  2  3  3

## dataframe을 csv 파일 형태로 저장하기

In [4]:
product.to_csv('product_out.csv')