# 7-2.Pandas_DataFrame

    DataFrame은 표 같은 스프레드시트 형식의 자료구조로 여러개의 행과 열로 구성돼 있다.
    각 행과 열에는 서로 다른 데이터구조(숫자,문자열,불리언 등)을 담을 수 있다.
    DataFrame의 각 행과 열은 Series로 구성돼 있다.
    자세한사항은 다큐멘테이션 참조!!
    https://pandas.pydata.org/pandas-docs/stable/
    
    1. DataFrame 생성
    2. DataFrame 인덱싱
    3. DataFrame 삭제

In [ ]:
from IPython.display import display

## 1. DataFrame 생성

In [1]:
import pandas as pd

# 1. 여러개의 리스트로 DataFrame(df) 구성
name = ['김씨', '이씨', '박씨']
age = [17,26,45]
sex = ["남","여","남"]
height = [170, 160, 180]

df = pd.DataFrame({'name':name, 'age':age,         
                      'sex':sex, 'height' : height},
                      columns = ['name','age','sex','height'])
display(df)

  name  age sex  height
0   김씨   17   남     170
1   이씨   26   여     160
2   박씨   45   남     180

In [2]:
# 2. 딕셔너리를 이용하여 df 구성
dic = {'name':name, 'age':age, 'sex':sex, 'height' : height}
df2 = pd.DataFrame(dic, index = ['a', 'b', 'c'],
                      columns = ['name','age','sex','height'])
display(df)

  name  age sex  height
0   김씨   17   남     170
1   이씨   26   여     160
2   박씨   45   남     180

In [ ]:
# 3. Series를 이용하여 df 구성추가 
weight = pd.Series([70, 60, 45] , index = ['a', 'b', 'c'] ) 
df2['weight'] = weight
display(df2)

In [ ]:
# 4. numpy 객체를 이용하여 df 구성
import numpy as np

df3 = pd.DataFrame(np.arange(12).reshape( (3,4) ),
                      columns = ['a','b','c','d'])
display(df3)

## 2. DataFrame 인덱싱

In [ ]:
import pandas as pd
import numpy as np

df3 = pd.DataFrame(np.arange(12).reshape( (3,4) ),
                      columns = ['a','b','c','d'], index = ['A', 'B', 'C'])
display(df3)

In [ ]:
# 1. 칼럼(열) 색인
display(df3.b)  
display(df3['b'])  
display(df3['b'][2])

In [ ]:
# 2. 조건식(불리언 식) 검색
result = df3[df3 > 10]
display(result) # 10이하 NaN 처리

In [ ]:
# 3. DF 행렬 검색 
# .iloc : integer positon를 통해 값을 찾을 수 있다. label로는 찾을 수 없다
# .loc : label 을 통해 값을 찾을 수 있다. integer position로는 찾을 수 없다.

# 1-1) iloc 속성 이용 : 단일행,열 참조 
display(df3.iloc[1]) # ix[행 번호]
display(df3.iloc[1,2]) # ix[행 번호, 열 번호]

In [ ]:
# 1-2)iloc 속성 이용 : 복수 행과열 참조 
display(df3.iloc[ [0,1], [1,2] ]) # [[행], [열]]

In [ ]:
# 2-1) loc 속성 이용 : 단일행, 열 참조
display(df3.loc['C'])
display(df3.loc['C','a'])

In [ ]:
# 2-2)loc 속성 이용 : 복수 행과열 참조 
display(df3.loc[ ['C','A'], ['a','b'] ]) # [[행], [열]]

In [ ]:
# 3) 칼럼으로 참조
display(df3['a']) # a칼럼 : 단일칼럼 
col_name = ['a', 'c']
display(df3[col_name]) # [[a, c]] 칼럼 : 복수칼럼

In [ ]:
# 4) 데이터 프레임의 컬럼이름 알아보기
display(df3.columns)

## 3. DataFrame 삭제

In [ ]:
df4 = df3.drop('A', axis = 0 ) # axis = 0 : A행 삭제 
display(df4)

In [ ]:
df5 = df3.drop('c', axis = 1) # axis = 1 : 열기준   , 'c'열 삭제
display(df5)