In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
import time

### Matrix Factorization

In [6]:
movie_Data = pd.read_csv('ITcourse3.csv',sep=',')
Raw_movie = pd.read_csv('movies.csv')
movie_Data = movie_Data.fillna(0.0)

In 2006, the online DVD rental company Netflix announced a contest to improve the state of its recommender system.

The first team that can improve on the Netflix algorithm RMSE performance by 10 percent or more wins a $1 million prize. If no team reaches the 10 percent goal,

Later, we aligned with team Big Chaos to win the 2008 Progress Prize with a score of 9.46 percent. At the time of this writing, we are still in first place, inching toward the 10 percent landmark.

![asd](./img/3.PNG)

In [7]:
movie_Data.head(3)

,movieId,1,2,3,4,5,6,7,8,9,...,662,663,664,665,666,667,668,669,670,671
0,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,...,0.0,4.0,3.5,0.0,0.0,0.0,0.0,0.0,4.0,5.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
datMat = np.array(movie_Data,dtype='int64'); 
datMat = datMat[:,1:]

In [19]:
datMat

array([[0, 0, 0, ..., 0, 4, 5],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [39]:
def matrix_factorization(R, P, Q, K, steps=30, alpha=0.0002, beta=0.02):
#####################################


#####################################
    return P, Q.T

In [20]:
N, M = datMat.shape
K = 10
P = np.random.rand(N,K)
Q = np.random.rand(M,K)

In [21]:
ini = time.time()
newP, newQ = matrix_factorization(datMat, P, Q, K)
end = time.time()

In [22]:
print(end-ini)

287.22096133232117

In [23]:
new_dat = np.dot(newP, newQ.T)

In [24]:
new_dat

array([[ 3.14268511,  4.0294189 ,  3.4162105 , ...,  3.87828776,
         3.15941186,  3.97557753],
       [ 2.59858261,  3.47559229,  3.04334395, ...,  3.36789996,
         2.91076984,  3.39282883],
       [ 2.68599722,  3.10961636,  3.19932471, ...,  3.10816738,
         2.59724192,  3.26097761],
       ...,
       [ 1.51020477,  2.51622978,  2.40776595, ...,  2.81243802,
         1.90023692,  2.43662087],
       [ 2.18748684,  3.11683095,  3.08786077, ...,  3.34321404,
         2.34380129,  3.35899894],
       [ 3.00647441,  3.86380702,  3.91720697, ...,  3.46506333,
         2.87457816,  4.04411614]])

In [25]:
total_count = 0
total_error = 0
for u in range(N):
    err_u = 0
    rateCount_u = 0
    for j in range(M):
        if datMat[u,j] > 0:
            rateCount_u += 1
            err_u += abs(np.dot(newP[u], newQ[j])-datMat[u,j])
    total_count += rateCount_u
    total_error += err_u
print("Overal MAE: %0.3f" % (total_error/total_count))

Overal MAE: 0.712